<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ThirstAlert Email Verification</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: 'Inter', sans-serif;
      background-color: #191A1F;
      color: #FFFFFF;
      padding: 20px;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
    }
    .token-box {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: #0D6766;
      border-radius: 5px;
      text-align: center;
      line-height: 40px;
      margin-right: 5px;
    }
    .token {
      font-size: 24px;
      font-weight: bold;
    }
    .footer {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="https://storage.googleapis.com/thirst-alert-public-assets/thirst-alert-assets/logo.png"/>
    <p>Hey {{username}}! We're excited to have you on board. To complete your registration and ensure the security of your account, please verify your email address by entering the 6-digit code below into the app:</p>
    <div>
      {{#each token}}
        <div class="token-box"><span class="token">{{this}}</span></div>
      {{/each}}
    </div>
    <p>Please note that this code expires in 24 hours.</p>
    <p>If you haven't registered for ThirstAlert, please disregard this email.</p>
    <div class="footer">
      <p>Best regards,<br>The ThirstAlert Team</p>
    </div>
  </div>
</body>
</html>
